<h2 style="text-align:center">{{frame}}</h2>
<blockquote style="text-align:center">{{sentence}}</blockquote>
<hr />
<div class="row">
  <!-- BEGIN token 1 -->
    {% if fe00 != 'No data available' %}
    
  <div class="span2">
    <cml:radios label="{{fe00}}" class="rando" name="{{fe00}}" validates="required" gold="true">
      <cml:radio label="Nessuno"></cml:radio>
            
          {% if fe_name00 != 'No data available' %}
          
      <cml:radio label="{{fe_name00}}"></cml:radio>
          {% endif %}
          {% if fe_name01 != 'No data available' %}
          
      <cml:radio label="{{fe_name01}}"></cml:radio>
          {% endif %}
          {% if fe_name02 != 'No data available' %}
          
      <cml:radio label="{{fe_name02}}"></cml:radio>
          {% endif %}
          {% if fe_name03 != 'No data available' %}
          
      <cml:radio label="{{fe_name03}}"></cml:radio>
          {% endif %}
          {% if fe_name04 != 'No data available' %}
          
      <cml:radio label="{{fe_name04}}"></cml:radio>
          {% endif %}
        
    </cml:radios>
  </div>
    {% endif %}
    
  <!-- END token 1 -->
  <!-- BEGIN token 2 -->
    {% if fe01 != 'No data available' %}
    
  <div class="span2">
    <cml:radios label="{{fe01}}" class="rando" name="{{fe01}}" validates="required" gold="true">
      <cml:radio label="Nessuno"></cml:radio>
            
          {% if fe_name00 != 'No data available' %}
          
      <cml:radio label="{{fe_name00}}"></cml:radio>
          {% endif %}
          {% if fe_name01 != 'No data available' %}
          
      <cml:radio label="{{fe_name01}}"></cml:radio>
          {% endif %}
          {% if fe_name02 != 'No data available' %}
          
      <cml:radio label="{{fe_name02}}"></cml:radio>
          {% endif %}
          {% if fe_name03 != 'No data available' %}
          
      <cml:radio label="{{fe_name03}}"></cml:radio>
          {% endif %}
          {% if fe_name04 != 'No data available' %}
          
      <cml:radio label="{{fe_name04}}"></cml:radio>
          {% endif %}
        
    </cml:radios>
  </div>
    {% endif %}
    
  <!-- END token 2 -->
  <!-- BEGIN token 3 -->
    {% if fe02 != 'No data available' %}
    
  <div class="span2">
    <cml:radios label="{{fe02}}" class="rando" name="{{fe02}}" validates="required" gold="true">
      <cml:radio label="Nessuno"></cml:radio>
            
          {% if fe_name00 != 'No data available' %}
          
      <cml:radio label="{{fe_name00}}"></cml:radio>
          {% endif %}
          {% if fe_name01 != 'No data available' %}
          
      <cml:radio label="{{fe_name01}}"></cml:radio>
          {% endif %}
          {% if fe_name02 != 'No data available' %}
          
      <cml:radio label="{{fe_name02}}"></cml:radio>
          {% endif %}
          {% if fe_name03 != 'No data available' %}
          
      <cml:radio label="{{fe_name03}}"></cml:radio>
          {% endif %}
          {% if fe_name04 != 'No data available' %}
          
      <cml:radio label="{{fe_name04}}"></cml:radio>
          {% endif %}
        
    </cml:radios>
  </div>
    {% endif %}
    
  <!-- END token 3 -->
  <!-- BEGIN token 4 -->
    {% if fe03 != 'No data available' %}
    
  <div class="span2">
    <cml:radios label="{{fe03}}" class="rando" name="{{fe03}}" validates="required" gold="true">
      <cml:radio label="Nessuno"></cml:radio>
            
          {% if fe_name00 != 'No data available' %}
          
      <cml:radio label="{{fe_name00}}"></cml:radio>
          {% endif %}
          {% if fe_name01 != 'No data available' %}
          
      <cml:radio label="{{fe_name01}}"></cml:radio>
          {% endif %}
          {% if fe_name02 != 'No data available' %}
          
      <cml:radio label="{{fe_name02}}"></cml:radio>
          {% endif %}
          {% if fe_name03 != 'No data available' %}
          
      <cml:radio label="{{fe_name03}}"></cml:radio>
          {% endif %}
          {% if fe_name04 != 'No data available' %}
          
      <cml:radio label="{{fe_name04}}"></cml:radio>
          {% endif %}
        
    </cml:radios>
  </div>
    {% endif %}
    
  <!-- END token 4 -->
  <!-- BEGIN token 5 -->
    {% if fe04 != 'No data available' %}
    
  <div class="span2">
    <cml:radios label="{{fe04}}" class="rando" name="{{fe04}}" validates="required" gold="true">
      <cml:radio label="Nessuno"></cml:radio>
            
          {% if fe_name00 != 'No data available' %}
          
      <cml:radio label="{{fe_name00}}"></cml:radio>
          {% endif %}
          {% if fe_name01 != 'No data available' %}
          
      <cml:radio label="{{fe_name01}}"></cml:radio>
          {% endif %}
          {% if fe_name02 != 'No data available' %}
          
      <cml:radio label="{{fe_name02}}"></cml:radio>
          {% endif %}
          {% if fe_name03 != 'No data available' %}
          
      <cml:radio label="{{fe_name03}}"></cml:radio>
          {% endif %}
          {% if fe_name04 != 'No data available' %}
          
      <cml:radio label="{{fe_name04}}"></cml:radio>
          {% endif %}
        
    </cml:radios>
  </div>
    {% endif %}
    
  <!-- END token 5 -->
  <!-- BEGIN token 6 -->
    {% if fe05 != 'No data available' %}
    
  <div class="span2">
    <cml:radios label="{{fe05}}" class="rando" name="{{fe05}}" validates="required" gold="true">
      <cml:radio label="Nessuno"></cml:radio>
            
          {% if fe_name00 != 'No data available' %}
          
      <cml:radio label="{{fe_name00}}"></cml:radio>
          {% endif %}
          {% if fe_name01 != 'No data available' %}
          
      <cml:radio label="{{fe_name01}}"></cml:radio>
          {% endif %}
          {% if fe_name02 != 'No data available' %}
          
      <cml:radio label="{{fe_name02}}"></cml:radio>
          {% endif %}
          {% if fe_name03 != 'No data available' %}
          
      <cml:radio label="{{fe_name03}}"></cml:radio>
          {% endif %}
          {% if fe_name04 != 'No data available' %}
          
      <cml:radio label="{{fe_name04}}"></cml:radio>
          {% endif %}
        
    </cml:radios>
  </div>
    {% endif %}
    
  <!-- END token 6 -->
  <!-- BEGIN token 7 -->
    {% if fe06 != 'No data available' %}
    
  <div class="span2">
    <cml:radios label="{{fe06}}" class="rando" name="{{fe06}}" validates="required" gold="true">
      <cml:radio label="Nessuno"></cml:radio>
            
          {% if fe_name00 != 'No data available' %}
          
      <cml:radio label="{{fe_name00}}"></cml:radio>
          {% endif %}
          {% if fe_name01 != 'No data available' %}
          
      <cml:radio label="{{fe_name01}}"></cml:radio>
          {% endif %}
          {% if fe_name02 != 'No data available' %}
          
      <cml:radio label="{{fe_name02}}"></cml:radio>
          {% endif %}
          {% if fe_name03 != 'No data available' %}
          
      <cml:radio label="{{fe_name03}}"></cml:radio>
          {% endif %}
          {% if fe_name04 != 'No data available' %}
          
      <cml:radio label="{{fe_name04}}"></cml:radio>
          {% endif %}
        
    </cml:radios>
  </div>
    {% endif %}
    
  <!-- END token 7 -->
  <!-- BEGIN token 8 -->
    {% if fe07 != 'No data available' %}
    
  <div class="span2">
    <cml:radios label="{{fe07}}" class="rando" name="{{fe07}}" validates="required" gold="true">
      <cml:radio label="Nessuno"></cml:radio>
            
          {% if fe_name00 != 'No data available' %}
          
      <cml:radio label="{{fe_name00}}"></cml:radio>
          {% endif %}
          {% if fe_name01 != 'No data available' %}
          
      <cml:radio label="{{fe_name01}}"></cml:radio>
          {% endif %}
          {% if fe_name02 != 'No data available' %}
          
      <cml:radio label="{{fe_name02}}"></cml:radio>
          {% endif %}
          {% if fe_name03 != 'No data available' %}
          
      <cml:radio label="{{fe_name03}}"></cml:radio>
          {% endif %}
          {% if fe_name04 != 'No data available' %}
          
      <cml:radio label="{{fe_name04}}"></cml:radio>
          {% endif %}
        
    </cml:radios>
  </div>
    {% endif %}
    
  <!-- END token 8 -->
  <!-- BEGIN token 9 -->
    {% if fe08 != 'No data available' %}
    
  <div class="span2">
    <cml:radios label="{{fe08}}" class="rando" name="{{fe08}}" validates="required" gold="true">
      <cml:radio label="Nessuno"></cml:radio>
            
          {% if fe_name00 != 'No data available' %}
          
      <cml:radio label="{{fe_name00}}"></cml:radio>
          {% endif %}
          {% if fe_name01 != 'No data available' %}
          
      <cml:radio label="{{fe_name01}}"></cml:radio>
          {% endif %}
          {% if fe_name02 != 'No data available' %}
          
      <cml:radio label="{{fe_name02}}"></cml:radio>
          {% endif %}
          {% if fe_name03 != 'No data available' %}
          
      <cml:radio label="{{fe_name03}}"></cml:radio>
          {% endif %}
          {% if fe_name04 != 'No data available' %}
          
      <cml:radio label="{{fe_name04}}"></cml:radio>
          {% endif %}
        
    </cml:radios>
  </div>
    {% endif %}
    
  <!-- END token 9 -->
</div>
